<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>Capitolize</title>
</head>

<body class="h-screen w-screen bg-blue-950 flex justify-center items-center"
    style="background-image: url('pattern.png'); background:cover;">

    <div
        class="relative gap-10 bg-black bg-opacity-30 rounded-2xl border-2 border:white flex flex-col justify-center items-center h-3/5 w-3/6 p-5">

        <% if(locals.content){ %>
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-white font-mono text-3xl text-center">Capital</h2>
                <h2 class="text-white font-mono text-3xl text-center">of</h2>
                <h2 class="text-white font-mono text-3xl text-center">
                    <%= content.country %>?
                </h2>
            </div>

            <form method="post" action="/checkAns" class="w-full flex flex-col gap-10 justify-center items-center">
                <input class="rounded-lg p-5 w-4/5 text-3xl text-center" name="answer" type="text" placeholder="Answer">
                <button
                    type="submit"
                    class="font-mono border-2 hover:bg-white hover:bg-opacity-50 hover:shadow-lg text-white text-2xl flex justify-center items-center border-white rounded-lg p-20px h-16 w-40">
                    Submit
                </button>
            </form>



            <div class="absolute top-0 left-0">
                <h3 class="text-white text-lg px-4 py-3 font-mono">Totalscore : <%= totalPoints %>
                </h3>
            </div>

            <% } else { %>
                <div class="flex flex-col justify-center items-center">
                    <h2 class="text-white font-mono text-3xl text-center">Guess</h2>
                    <h2 class="text-white font-mono text-3xl text-center">the</h2>
                    <h2 class="text-white font-mono text-3xl text-center">Capital</h2>Í
                </div>

                <a class="font-mono border-2 hover:bg-white hover:bg-opacity-50 hover:shadow-lg text-white text-2xl flex justify-center items-center border-white rounded-lg p-20px h-16 w-40"
                    href="/start">
                    Start
                </a>

                <div class="absolute top-0 left-0">
                    <h3 class="text-white text-lg px-4 py-3 font-mono">Totalscore : 0</h3>
                </div>
                <% } %>

    </div>

<% if (locals.message) { %>
    <script>
        alert("Score : <%= message %>\nReady for another round? Play again and challenge yourself!");
    </script>
<% } %>

</body>

</html>